@model GeoSquirrelClient.Models.Cache


<div class="card">
  <div class= "card-body">
    <h2 class= "card-title">Cache Creator: </h2>
      <div class= "card-text">
      @using (Html.BeginForm())
      {
        <p class="labels">@Html.LabelFor(model => model.Name)</p>
        @Html.TextBoxFor(model => model.Name)
        <br>
        <p class="labels">@Html.LabelFor(model => model.Latitude)</p>
        @Html.TextBoxFor(model => model.Latitude)

        <br>
        <p class="labels">@Html.LabelFor(model => model.Longitude)</p>
        @Html.TextBoxFor(model => model.Longitude)

        <br>
        <p class="labels">@Html.LabelFor(model => model.DateCreated)</p>
        @Html.TextBoxFor(model => model.DateCreated, "{0:yyyy-MM-dd}", new { @type = "date" })
        <br>
        <input type="submit" value="Create a Cache" class="btn btn-dark" http-equiv="refresh">
        <meta http-equiv="refresh">
      }
      <br>
      </div>
      @Html.ActionLink("Cache List", "Index") 
  </div>
</div>
