@model GeoSquirrelClient.Models.Cache


<div class="card">
  <div class= "card-body">
    <h2 class= "card-title">Cache Creator: </h2>
      <div class= "card-text">
      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.Name)
        <input id="Name" name="Name" type="text">
        <br>
        @Html.LabelFor(model => model.Latitude)
        <input id="Latitude" name="Latitude" type="text">
        @* <h5>@Html.TextBoxFor(model => model.Latitude)</h5> *@
        <br>
        @Html.LabelFor(model => model.Longitude)
        <input id="Longitude" name="Longitude" type="text">
        <br>
        @Html.LabelFor(model => model.DateCreated)
        @Html.TextBoxFor(model => model.DateCreated, "{0:yyyy-MM-dd}", new { @type = "date" })
        <br>
        <input type="submit" value="Create a Cache" class="btn btn-dark" http-equiv="refresh">
        <meta http-equiv="refresh">
      }
      <br>
      </div>
      <hr />
      <a  class="btn btn-light" asp-area="" asp-controller="Caches" asp-action="Index">Cache List</a>
      <a  class="btn btn-light" asp-area="" asp-controller="Games" asp-action="Index">Game List</a>
  </div>
</div>
