@{
    ViewData["Title"] = "Home Page";
}

<h1>Live GeoCaches</h1>

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>DateCreated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cache cache in Model)
            {
                <tr>
                    <td>@cache.CacheId</td>
                    <td>@cache.Name</td>
                    <td id="modelLat">@cache.Latitude</td>
                    <td id="modelLong">@cache.Longitude</td>
                    <td>@cache.DateCreated</td>
                    <td><a class="btn btn-dark" href="/Caches/Details/@(cache.CacheId)"><p>View GeoCache Details</p></a></td>
                </tr>
            }
        </tbody>
    </table>

<a href="/Caches/Create"><p>Create a Cache</p></a>
    @* @using (Html.BeginForm())
{

    <input type="submit" value="Edit" />
} *@