@{
    ViewData["Title"] = "Home Page";
}
@model User

<div class="img-container" text-align="center">
<img src="/img/GeoSquirrel.png" alt="GeoSquirrel" width="300" height="300" text-align="center">
    @* <div class="login-container">

        <h2>Welcome</h2>

        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            <br>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            <br>
            <input type="submit" value="Log in" class="btn btn-dark" />
        }

    </div> *@
</div>
<br>


<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
@* <hr /> *@
<h3>GeoSquirrel Development Team</h3>
<table class="table" >
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="patrick-osten"><a class="LI-simple-link" href='https://www.linkedin.com/in/patrick-osten?trk=profile-badge'>Patrick Osten</a></div></td>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="randelmoore"><a class="LI-simple-link" href='https://www.linkedin.com/in/randelmoore?trk=profile-badge'>Randal Moore</a></div></td>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="sveawade"><a class="LI-simple-link" href='https://www.linkedin.com/in/sveawade?trk=profile-badge'>Svea Wade</a></div></td>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="schradermade"><a class="LI-simple-link" href='https://www.linkedin.com/in/schradermade?trk=profile-badge'>Nathan Schrader</a></div></td>
            </tr>
    </tbody>
</table>






@* <div class="text-center">
    <p>@Html.ActionLink("Caches List", "Index", "Caches")</p>
</div> *@

@* <ol>
@foreach (Cache cache in Model)
{
    <ul>
        <li>ID: @cache.CacheId</li>
        <li>Name: @cache.Name</li>
        <li>Hours: @cache.Latitude</li>
        <li>Industry: @cache.Longitude</li>
        <li>Address: @cache.DateCreated</li>
    </ul>
    <br>
}
</ol> *@