@{
    ViewData["Title"] = "Home Page";
}
@using GeoSquirrelClient.ViewModels

@model LoginViewModel

<div class="img-container" text-align="center">
<img src="/img/GeoSquirrel.png" alt="GeoSquirrel" width="300" height="300" text-align="center">
    <div class="login-container">
        <br>
        <p class="button">@Html.ActionLink("Login", "Login", "Account")</p>
        <p class="button">@Html.ActionLink("Create an account", "Register", "Account")</p>
    </div>
</div>
<br>

@* <div id="map"></div>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #map{
            height: 500px;
            width: 100%;
        }
    </style>
    <script>
        function initMap() {
            var portland = {lat: 45.5051, lng: 122.6750 }
            var dynamicLoc = {lat: (parseFloat((document.getElementById("modelLat").textContent))), 
                                lng: (parseFloat((document.getElementById("modelLong").textContent)))};
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom:  10, 
                center: dynamicLoc
            });
            var marker = new google.maps.Marker({
                position: portland,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBazJvAEkpno22Z8uO2ceyFdt03bft9igw&callback=initMap"></script> *@
    



<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
@* <hr /> *@
<h3>GeoSquirrel Development Team</h3>
<table class="table" >
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="patrick-osten"><a class="LI-simple-link" href='https://www.linkedin.com/in/patrick-osten?trk=profile-badge'>Patrick Osten</a></div></td>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="randelmoore"><a class="LI-simple-link" href='https://www.linkedin.com/in/randelmoore?trk=profile-badge'>Randal Moore</a></div></td>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="sveawade"><a class="LI-simple-link" href='https://www.linkedin.com/in/sveawade?trk=profile-badge'>Svea Wade</a></div></td>
                <td><div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="schradermade"><a class="LI-simple-link" href='https://www.linkedin.com/in/schradermade?trk=profile-badge'>Nathan Schrader</a></div></td>
            </tr>
    </tbody>
</table>






@* <div class="text-center">
    <p>@Html.ActionLink("Caches List", "Index", "Caches")</p>
</div> *@

@* <ol>
@foreach (Cache cache in Model)
{
    <ul>
        <li>ID: @cache.CacheId</li>
        <li>Name: @cache.Name</li>
        <li>Hours: @cache.Latitude</li>
        <li>Industry: @cache.Longitude</li>
        <li>Address: @cache.DateCreated</li>
    </ul>
    <br>
}
</ol> *@